@(content: Html)
<div class="navbar navbar-default" id="navbar">
  <script type="text/javascript">try{ace.settings.check('navbar' , 'fixed')}catch(e){}</script>

  <div class="navbar-container" id="navbar-container">
  @header()
  </div><!-- /.container -->
</div>

<div class="main-container" id="main-container">
  <script type="text/javascript">try{ace.settings.check('main-container' , 'fixed')}catch(e){}</script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
    @sidebar()
    </div>

    <div class="main-content">
    @content
    </div><!-- /.main-content -->

  </div><!-- /.main-container-inner -->

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>
</div><!-- /.main-container -->
